
@import 'utils/_tailwind.css';
@import 'utils/_accessibility.css';
@import '@simonwep/pickr/dist/themes/nano.min.css';
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Comfortaa:wght@300&family=Oswald&family=Pacifico&family=Quicksand&family=VT323&family=Indie+Flower&family=Permanent+Marker&display=swap');



/* purgecss start ignore */

:focus, button:focus {
    outline: solid  3px rgba(0,0,0,0.05);
    outline-offset: 4px;
}

a {
	@apply text-ws-blue-500 underline;
}

/* hide input number spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.rocket {
	animation: rocket 0.7s linear infinite both;
}

@keyframes rocket {
	0% {
		transform: translate(0);
		transform: rotate(0);
	}
	10% {
		transform: translate(-1px, -1px);
	}
	20% {
		transform: translate(1px, -1px);
	}
	30% {
		transform: translate(-1px, 1px);
	}
	40% {
		transform: translate(1px, 1px);
	}
	50% {
		transform: translate(-1px, -1px);
	}
	60% {
		transform: translate(1px, -1px);
	}
	70% {
		transform: translate(-1px, 1px);
	}
	80% {
		transform: translate(-2px, -2px);
	}
	90% {
		transform: translate(2px, -2px);
	}
	100% {
		transform: translate(0);
	}
}

.badge-editor{font-family:'Comfortaa', sans-serif;}
.bg-blue-custom{background:#121A2D}
.pcr-button:after{border:1px solid #ccc;}
.mh-85{min-height:85vh}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.animated.faster {
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}


/* purgecss end ignore */