    <footer class="text-sm text-gray-500 bg-blue-custom w-full py-5">
       <p class="flex items-center justify-center text-white text-bold">
       Powered By <img src="./static/flair_logo.svg" class="h-12 w-12 ml-2" />
       </p>
    </footer>