<header class="bg-white py-3">
  <div class="container md:mx-7xl mx-auto">
    <div class="w-full flex justify-center items-end">
      <img src="./static/banner_edit.svg" class="w-12 h-10 ml-3" />
      <p class="ml-1 badge-editor text-2xl tracking-tighter font-thin">Badgy</p>
    </div>
  </div>
</header>